<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Add Post for {{user.first_name}} {{user.last_name}}</title>
</head>
<body>
    <h1>Create a post for {{user.first_name}} {{user.last_name}}</h1>
    <form action="/{{user.id}}/posts/new" method="POST">
        <div class="form-group col-sm-5">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group col-lg-7">
          <label for="content">Content</label>
          <input type="text" class="form-control" name="content">
        </div>
        {% for t in tag %}
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="tags" value="{{t.id}}">
            <label type="checkbox" class="form-check-label" for="{{t.name}}">{{t.name}}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <form action="/{{user.id}}">
          <button type="submit" class="btn btn-danger">Cancel</button>
      </form>
</body>
</html>

 