<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit a User</h1>
    <form action="/{{user.id}}/edit" method="POST">
        <input type="text" name="first" placeholder="Update First Name">
        <input type="text" name="last" placeholder="Update Last Name">
        <input type="text" name="image" placeholder="Update Image Address">
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/">Cancel</a>
</body>
</html>